.u-section-1 {
  background-image: url("images/pexelsphoto1089438.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 432px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 940px;
}

.u-section-2 .u-shape-1 {
  width: 689px;
  background-image: none;
  height: 587px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1015px;
  margin: -517px auto 60px 63px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 434px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.11111rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 0 0;
  padding: 10px 44px;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/early-alpha.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 120px 30px 30px 0;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-left: 0;
}

.u-section-2 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 20px 237px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 120px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 880px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-2 .u-image-1 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 376px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 187px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-2 .u-shape-1 {
    width: 547px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 689px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 80px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-2 .u-shape-1 {
    height: 860px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -790px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 399px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 90px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-2 .u-shape-1 {
    height: 811px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 313px;
    margin-top: -761px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 75px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 401px;
  }
}